<div id="content">
  <h1>My dummy title</h1>
  <div class="example"></div>
  <div class="example-content">
      <div class="expand col-lg-8 col-lg-offset-2">
           <div class="alert alert-success">You are a good person, ${name}!</div> 
           <div class="col-lg-10 col-lg-offset-1">
             <form method="post" action="/enlive" accept-charset="UTF-8">
               <fieldset>
                 <legend>Sign up</legend>
                 <div form-field="username" class="form-group">
                   <label for="name" class="control-label hidden">Username:</label>
                   <input type="text" class="form-control" id="username" name="username" placeholder="Username" autocomlete="off" value="">
                   <p class="help-block">is required</p>
                 </div>

                 <div form-field="email" class="form-group">
                   <label for="email" class="control-label hidden">Email:</label>
                   <input type="text" class="form-control" id="email" name="email" placeholder="bob@the-bobs.com" autocomlete="off" value="">
                   <p class="help-block">is required</p>
                 </div>

                 <div form-field="password" class="form-group">
                   <label for="password" class="control-label hidden">Password:</label>
                   <input type="password" class="form-control" id="password" name="password" placeholder="Password" autocomlete="off" value="">
                   <p class="help-block">is required</p>
                 </div>

                 <div class="form-group">
                   <button type="submit" class="btn btn-default btn-block">Sign up</button>
                 </div>
               </fieldset>
             </form>
         </div>
      </div>
    </div>
</div>
