<!DOCTYPE html>
<html>
  <head>
    <title>My great title</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/custom.css" rel="stylesheet" type="text/css">
    <link href="/css/railscasts.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">The Crock of Gold</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li menu-item="home">
              <a href="/">Home</a>
            </li>
            <li menu-item="hiccup">
              <a href="/hiccup">Hiccup</a>
            </li>
            <li menu-item="enlive">
              <a href="/enlive">Enlive</a>
            </li>
            <li menu-item="selmer">
              <a href="/selmer">Selmer</a>
            </li>
            <li menu-item="clj-jade">
              <a href="/clj-jade">clj-jade</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <section class="container" id="content">
     </section>
    <footer>
      <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <p class="navbar-text pull-right">The Crock of Gold &copy; 2013</p>
      </nav>
    </footer>
    <a href="https://github.com/propan/crock-of-gold"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 6000;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    </footer>
  </body>
</html>
