extends layout

block title
    | The Crock of Gold

block top-navigation
    mixin top-nav('home')

block content
    h1 Welcome
    p
        | The Crock of Gold - is a simple application aiming to demonstrate usage of some Clojure template languages and libraries, such as: 
        a(href='https://github.com/weavejester/hiccup', target='_blank') hiccup
        |,
        a(href='https://github.com/cgrand/enlive', target='_blank') enlive
        |,
        a(href='https://github.com/yogthos/Selmer', target='_blank') selmer
        |  and
        a(href='https://github.com/ryangreenhall/clj-jade', target='_blank') clj-jade
        | .
    p Each section is written using respective library. And all of them are implementing the same functionality. By comparing the sources, you can choose which style of templating you would prefer to use in your project.