include mixins
doctype html
html
    head
        title
            block title
        meta(name="viewport",  content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/bootstrap.min.css", type="text/css")
        link(rel="stylesheet", href="/css/custom.css", type="text/css")
        link(rel="stylesheet", href="/css/railscasts.css", type="text/css")
        // if lt IE 9
            script(src="/js/html5shiv.js")
            script(src="/js/respond.min.js")
    body
        header
            block top-navigation
    
        section#content.container
            block content
    
        footer
            nav.navbar.navbar-default.navbar-fixed-bottom(role="navigation")
                p.navbar-text.pull-right The Crock of Gold &copy; 2013

        a(href='https://github.com/propan/crock-of-gold')
            img(style='position: absolute; top: 0; right: 0; border: 0; z-index: 6000;', src='https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png', alt='Fork me on GitHub')

        script(src='//code.jquery.com/jquery.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/highlight.pack.js')
        script
            hljs.initHighlightingOnLoad();
